<div class="container">
    
        <div class="content">
            <h1 class="left">For Learning purpose CSS ONLY</h1>
            <div class="right">
                <h2>DILSHAD KHAN</h2>
                <p>I am Web Designer</p>
                <div class="image">
                    <img src="/assets/ui.jpg" alt="" class="autoRotate">
                    <!-- <img src="/assets/code.jpg" alt=""> -->
                </div>
                
            </div>
            <h3 class="autoShow">Introduction</h3>
            <div style="width: 600px;" class="autoShow">
                I am DILSHAD KHAN , Innovative and passionate  Angular Developer with a 1 year of hands-on experience in front-end development and backend a solid foundation in web technologies. Demonstrated ability to develop, implement, and maintain robust and scalable web applications. Adept at collaborating with cross-functional teams to deliver high-quality software solutions on time and within budget
            </div>

            <div class="image">
                <img src="/assets/code.jpg" alt="">
            </div>
            <div class="image">
                <img src="/assets/css.jpg" alt="">
            </div>
            <div class="image">
                <img src="/assets/program.jpg" alt="">
            </div>
            <div class="autoBlur">
                Thank you  sdfsgvdabfd
                vfdvadvdvadf
            </div>
           
        </div>
    
</div>