.banner{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(135deg, #f7971e, #ffd200);

}

.banner .product{
    width: 190px;
    height: 350px;
    position: absolute;
    bottom: 115px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: 0.7s;
    --left:-50px;
}

.banner .product .soda{
    background-size: auto 100%, auto 100%;
    background-image: url(/assets/lemon.jpg), url(/assets/soda.png);
    background-position: var(--left) 0, center;
    width: 200px;
    aspect-ratio: 2/3.3;
    background-blend-mode: multiply;
    -webkit-mask-image: url(/assets/soda.png);
    -webkit-mask-size: auto 100%;
    mask-image: url(/assets/soda.png);
    mask-size: auto 100%;
    transition: 0.7s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.banner .product:hover{
    --left:1000px;
    transform:translateX(-50%) translateY(-120px)
}