<div class="banner">
    <div class="slider" style="--quantity:6">
        <div class="item" style="--position:1">
            <img src="/assets/code.jpg" alt="image1">
        </div>
        <div class="item" style="--position:2">
            <img src="/assets/program.jpg" alt="image1">
        </div>
        <div class="item" style="--position:3">
            <img src="/assets/ui.jpg" alt="image1">
        </div>
        <div class="item" style="--position:4">
            <img src="/assets/css.jpg" alt="image1">
        </div>
        <div class="item" style="--position:5">
            <img src="/assets/sql.jpg" alt="image1">
        </div>
        <div class="item" style="--position:6">
            <img src="/assets/code2.jpg" alt="image1">
        </div>
    </div>
     
    <div class="mind">
        <h2 class="text">When you want to Switch in IT </h2>
        <p style="font-size: 22px;color: white;
        font-weight: 700;">In your Mind</p>
    </div>
    <div class="content">
        <div class="author">
            <h2>DILSHAD KHAN</h2>
            <p style="font-size: 20px;">Web Designer</p>
        </div>
        <div class="model"></div>
    </div>
    
</div>